body{
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/photo-studio-room-with-white-background-industrial-construction_88088-1119.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-y: scroll;
    background-attachment: fixed;
}
input[type=file] {
    display:inline-block;
    margin-bottom: 10px;
    width: 30%;
}
input[name="text"]{
    width: 13.5%;
    border-radius: 10px;
}
input[type=submit]{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3%;
}
.icon{
    margin-top: -10px;
    margin-inline: 10px;
    animation: wiggle 2s linear infinite;
}
.output {
    width:65%;
    height: 65%;
}
h3{
    color:white;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 25px;
}
h1{
    font-weight: bold;
    font-family: 'Croissant One', cursive;
}
    label{
    font-size: 20;
}
.separator{
    border: 2px solid white;
    width: 90%;
    border-radius: 5px;
    opacity: .5;
}
.highlight{
    border: 2px dashed; white;
    width: 33%;
    border-radius: 5px;
    opacity: .5;
    margin-top: 25px;
}
footer{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 17;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding: 5;
    border-top-color: black;
    border-top-width: 3px;
    border-top-style: solid;
}

/* Keyframes */
@keyframes wiggle {
    0%, 7% {transform: rotateZ(0);}
    15% {transform: rotateZ(-15deg);}
    20% {transform: rotateZ(10deg);}
    25% {transform: rotateZ(-10deg);}
    30% {transform: rotateZ(6deg);}
    35% {transform: rotateZ(-4deg);}
    40%, 100% {transform: rotateZ(0);}
}